  body{
    background-color: #2A2D37;
}
  
  .carousel.slide {
    margin-top: 100px; 
}

  .carousel-item {
    margin-top: 400;
    height: 500px;
  }
  
  .carousel-item img {
    object-fit: contain;
    max-height: 300px;
    max-width: 100%;
    padding: auto;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
  }

  .carousel-caption {
    position: static;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 60px;
    
  }
  
  nav {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('../img/batmanbanner.jpg'); /* Cambia 'ruta/de/tu/imagen.jpg' por la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    padding: 0;
    height: 350px;
    margin: 0;
    transition: opacity 0.2s ease, color 0.2s ease;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
}

.menu li {
    display: inline;
    margin-right: 15px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
}

.menu li a:hover {
    background-color: #272624;
}

.menu .login {
    position: absolute;
    top: 0;
    right: 100px;
}

.menu .register {
    position: absolute;
    top: 0;
    right: 30px;
}


  footer.footer {
    margin-top: 50px;
  }
  
  footer.footer h5 {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  footer.footer ul.list-unstyled li {
    margin-bottom: 0.5rem;
  }
  
  footer.footer ul.list-unstyled li a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer.footer ul.list-unstyled li a:hover {
    color: #ccc;
  }
  
  h1{
    margin-top: 20px;
    text-align: center;
    color: white;
  }

  h2{
    margin-top: 60px;
    text-align: center;
    color: white;
  }

  h4{
    text-align: center;
    color: white;
  }