body{
    background-color: #2A2D37;
}

.container {
    max-width: 960px;
    background-color: white ;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 400px;
  }

  .product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(19, 18, 18, 0.1);
  }
  
  .product-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .product-description {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .product-details {
    margin-bottom: 30px;
  }
  
  .product-details h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .product-details li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
  }
  
  .product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #dc3545;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }